In [94]:
import csv
import pandas as pd
# pd.set_option('precision', 12) 
import numpy as np
#不以科学计数法输出
np.set_printoptions(suppress=True)
i = 0
chunks = []
datas = pd.read_csv('F:\\data\\DIAG_DOWNLOAD_RECORD.csv', encoding="utf-8", low_memory=False, chunksize=10000000)
for data in datas:
    data1 = data.drop_duplicates("SERIAL_NO")
    chunks.append(data1)
    i += 1
    print(i)
df = pd.concat(chunks, ignore_index=True)
print(type(df))
print(df.shape)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
<class 'pandas.core.frame.DataFrame'>
(2722990, 2)

In [33]:
df1= df.drop_duplicates("SERIAL_NO")
df1.shape

(944394, 2)

In [41]:
df1 = df1.dropna(axis=0,how='any') 
df1.shape

(899174, 2)

In [93]:
df1.head(5)

       DOWNLOAD_IP     SERIAL_NO
0   113.101.251.52  985197748500
1    111.58.93.231  984990029922
2     1.49.252.238  982697504600
3   123.12.123.223  985192864000
4  117.191.214.139  985196054100

In [46]:
df1.to_csv('f:\\data\\ip_product_serial.csv')

AttributeError: module 'pandas' has no attribute 'df1'